/* common style and utilites and font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1320px;
    margin: 0 auto;
}
.title-btn{
    padding: 12px 18px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border-radius: 3px;
}
.title-h1{
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 10px;
    font-weight: 700;
}
.title-detail{
    font-size: 16px;
    line-height: 26px;
    font-weight: 200px;
}
.icon{
    margin-left: 10px;
    margin-right: 7px;
}

/* header part area */
.main-header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 60px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}
.header-details{
    color: #FFFFFF;
    padding: 20px;
    width: 40%;
}
.img-details{
 width: 50%;
}
.img-details img{
 width: 100%;
}

/* main section area is hear */
.button-player{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-top: 60px;
    padding: 15px;
    border-radius: 10px;
}
.btn-container{
    height: 17%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 15px;
    border-radius: 13px;
}
.btn-container div{
    margin: 10px;
}

.group-btn{
    width: 240px;
    padding: 15px 20px;
    text-align: center;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}
.btn-2{
    background-color: crimson;
    color: #FFFFFF;
}
/* players container area */
.players-container{
    width: 73%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.players{
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}
.player-img img{
    width: 100%;
    height: 175px;
}
.player-details{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.player-btn{
    margin:8px 8px 8px 0px;
    padding:8px 12px;
    text-align: center;
}
.player-icon{
    display: flex;
    justify-content: flex-start;
}
.time-chat{
    display: flex;
    padding: 5px 0;
}
.time-chat img{
    margin-right: 10px;
}
.chats{
    margin-left: 20px;
}
.hide-btn{
    display: none;
}
/* footer area */
.footer-container{
    background-color: black; 
    width: 100%; 
    margin-bottom: 0;
}

.footer-title{
    margin-top: 40px;
    padding-top: 50px;
    color: #FFFFFF;
    text-align: center;
}
.hr{
    width: 1220px;
    margin: 20px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-items{
    margin-bottom: 50px;
    padding-bottom:  40px;
    text-align: center;
}
.footer-items a{
    text-decoration: none;
    color: #B9B9B9;
    padding: 0 15px;
}

/* -----------------------
        media quries 
   ----------------------- */
   /* mobile device */
   @media screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    .main-header, .button-player{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 30px 0 30px;
        margin-bottom: 0;
    }
    .header-details, .img-details{
        text-align: center;
        width: 80%;
    }
    .title-detail{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .title-h1{
        font-size: 25px;
        line-height: normal;
        margin-bottom: 10px;
        font-weight: normal;
    }
    /* ------------------ */
    main{
        margin-bottom: 30px;
    }
    .button-player{
        margin-top: 10px;
    }
    .btn-container{
        background-color: white;
        width: 100%;
    }
    .players-container{
        display: flex;
        flex-direction: column;
        align-items: centers;
        width: 100%;
    }
    .player-details p{
        font-size: 22px;
        margin: 5px 0;
    }
    /* ------------------ */
    .footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-title{
        margin-top: 0;
    }
    .footer-items{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .footer-items a{
        padding: 30px 0 0 0;
    }
    
   }
   /* ___tablet___ */
   @media screen and (min-width: 689px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    /* -------------- */
    .main-header{
        align-items: center;
        width: 90%;
    }
    .title-detail{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .title-h1{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    /* ------------- */
    .button-player{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .btn-container{
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .players-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        width:98%;
    }
    .group-btn{
        width: 220px;
        padding: 15px 18px;
        text-align: center;
        border: none;
        font-size: 16px;
        border-radius: 10px;
    }
    .hide-player{
        display: none;
    }
    .hide-btn{
        display: block;
        margin-top: 30px;
    }
   /*------------- */
   .footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .footer-title{
    text-align: center;
   }
   .footer-items {
    display: flex;
    align-items: center;
    margin: 5px 30px;
    flex-wrap: wrap;
   }
}